.wrapper {
  text-align:  center;
  margin: 100px 100px 75px 100px;
  width: auto;
}
.wrapper-left {
  text-align:  left;
  margin: 0 100px 0 100px;
  width: auto;
}

body {
  display: block;
  margin: 0;
  background-color: #202025;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: white;
}
#header {
  position: absolute;
  top: 0;
}

#logo {
  margin-bottom: -2px;
  float: left;
  height: 48px;
}
#logo:hover {
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}
.menu {
  font-size: 35px;
  color: #4FFF33;
  float: left;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
}
.menu:hover {
  color: #202025;
  padding-bottom: 6px;
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}

h1 {
  font-weight: 300;
  font-size: 38px;
}
a {
  color: #4FFF33;
  text-decoration: none;
  font-weight: 900;
}
a:hover {
  color: white;
}
blockquote {
  color: #202025;
  background: #f9f9f9;
  border-left: 10px solid #4FFF33;
  margin: 25px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #4FFF33;
  content: open-quote;
  font-size: 40px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote::after {
  color: #4FFF33;
  content: close-quote;
  font-size: 40px;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
.whiteBox {
  text-align:  center;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 1px white;
  margin: 1px;
  color: #202025;
}
.logoLink {
  color: #4FFF33;
  text-decoration: none;
  padding-right: 5px;
  font-size: 40px;
  float: right;
}
.logoLink:hover {
  color: #202025;
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}
