.wrapper {
  text-align:  center;
  margin: 100px;
  width: auto;
}
.wrapper-left {
  text-align:  left;
  margin: 0 100px 0 100px;
  width: auto;
}
.block {
  color: #202025;
  margin-top: -50px;
  text-align: left;
  background-color: #4FFF33;
}

body {
  display: block;
  margin: 0;
  background-color: #202025;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: white;
}
#header {
  position: absolute;
  top: 0;
}

#logo {
  margin-bottom: -2px;
  float: left;
  height: 48px;
}
#logo:hover {
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}
.menu {
  font-size: 35px;
  color: #4FFF33;
  float: left;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
}
.menu:hover {
  color: #202025;
  padding-bottom: 6px;
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}

h1 {
  font-weight: 300;
  font-size: 38px;
}

.whiteBox {
  text-align:  center;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 1px white;
  margin: 1px;
  color: #202025;
}
.logoLink {
  color: #4FFF33;
  text-decoration: none;
  padding-right: 5px;
  font-size: 40px;
  float: right;
}
.logoLink:hover {
  color: #202025;
  background-color: #4FFF33;
  box-shadow: 0 0 1px #4FFF33;
}
